
html, body {
   height: 100%;
}
body {
   text-align: center;
   letter-spacing: 5px;
}
.box {
   display: flex;
   flex-direction: column;
   align-item: center;
   justify-content: center;
   height: 100%;
}
.heart {
   position: relative;
   width: 100px;
   height: 90px;
   margin: 0 auto;
}
.heart:before,
.heart:after {
   position: absolute;
   content:'';
   left: 50px;
   top: 0;
   width: 50px;
   height: 80px;
   background-color: red;
   border-radius: 50px 50px 0 0;
   transform: rotate(-45deg);
   transform-origin: 0 100%;
   animation: right 1s infinite alternate;
}
.heart:after {
   left:0;
   transform: rotate(45deg);
   transform-origin: 100% 100%;
   animation: left 1s infinite alternate;
}
@keyframes right {
   0% {
      transform: scale(1) rotate(-45deg);
   }
   100% {
      transform: scale(0.2) rotate(-45deg);
   }
}
@keyframes left {
   0% {
      transform: scale(1) rotate(45deg);
   }
   100% {
      transform: scale(0.2) rotate(45deg);
   }
}